%section#banner
  %h1 Modern Real Estate Sites, IDX Property Search

  #circle_container
    %article#designs
      %h2 Beautiful Designs

    %article#feature
      %h2 Feature Rich

    %article#editable
      %h2 Fully Editable

